{% extends '_base.html' %}


{% block content %}
<ul>
    <li><strong>Name: </strong>{{ doctor.last_name|capfirst }},{{ doctor.first_name|capfirst }}</li>
    <li><strong>Specialties: </strong>{% for specialty in doctor.specialties.all %} {{ specialty.name|capfirst }}{% if not forloop.last %}, {% endif %} {% endfor %}</li>
    <li><strong>Email: </strong>{{ doctor.email|default_if_none:"Email is not available" }}</li>
    <li><strong>Phone Number: </strong>{{ doctor.phone_number|default_if_none:"Phone number is not available" }}</li>
</ul>

{% if perms.booking.change_doctor %}
<a class="btn btn-info" href="{% url 'doctor-update' doctor.id %}" role="button">Change</a>
{% endif %}
    
{% endblock content %}
    