{% extends '_base.html' %}


{% block content %}
<ul>
    <li><strong>Name: </strong>{{ doctor.last_name|capfirst }},{{ doctor.first_name|capfirst }}</li>
    <li><strong>Specialties: </strong>{% for specialty in doctor.specialties.all %} {{ specialty.name|capfirst }}{% if not forloop.last %}, {% endif %} {% endfor %}</li>
    
    {% if doctor.email %}
    <li><strong>Email: </strong>{{ doctor.email }}</li>
    {% endif %}
    
    {% if doctor.phone_number %}
    <li><strong>Phone Number: </strong>{{ doctor.phone_number }}</li>
    {% endif %}
        
</ul>

{% if perms.booking.change_doctor %}
<a class="btn btn-info" href="{% url 'doctor-update' doctor.id %}" role="button">Change</a>
{% endif %}
    
{% endblock content %}
    