{% extends '_base.html' %}


{% block content %}
<ul>
    <li><strong>Clinic Name: </strong>{{ veterinaryinstance.veterinary_name }}</li>
    <li><strong>Pet Name: </strong>{{ veterinaryinstance.pet_name|capfirst }}</li>
    <li><strong>Status: </strong>{{ veterinaryinstance.get_status_display|capfirst }}</li>
    {% if veterinaryinstance.doctor %}
    <li><strong>Doctor Name: </strong>{{ veterinaryinstance.doctor|capfirst }}</li>    
    {% endif %}
    
    {% if veterinaryinstance.description %}
    <li><strong>Description: </strong>{{ veterinaryinstance.description }}</li>    
    {% endif %}
            
</ul>
{% endblock content %}
    