{% extends '_base.html' %}


{% block content %}
<ul>
    <li><strong>Name: </strong>{{ veterinary.name }}</li>
    <li><strong>Address: </strong>{{ veterinary.address }}</li>
    <li><strong>Contact Number: </strong>{{ veterinary.contact_number }}</li>
    <li><strong>Services: </strong>{% for service in veterinary.services.all %} {{ service|capfirst }}{% if not forloop.last %}, {% endif %}{% endfor %} </li>
    
    {% if veterinary.image %}
    <img src="{{ veterinary.image.url }}" alt="clinic image">    
    {% endif %}
        
</ul>

{% if perms.booking.change_veterinary %}
<a class="btn btn-info" href="{% url 'veterinary-update' veterinary.id %}" role="button">Change</a>
{% endif %}

{% endblock content %}
    