{% extends '_base.html' %}


{% block content %}
<ul>
    <li><strong>Name: </strong>{{ veterinaryinstance.veterinary_name }}</li>
    <li><strong>Pet: </strong>{{ veterinaryinstance.pet_name|capfirst }}</li>
    <li><strong>Status: </strong>{{ veterinaryinstance.get_status_display|capfirst }}</li>
    <li><strong>Doctor: </strong>{{ veterinaryinstance.doctor|default_if_none:"no assigned doctor(need to approved first)"|capfirst }}</li>
    <li><strong>Description: </strong>{{ veterinaryinstance.description|default_if_none:"no description" }}</li>
</ul>
{% endblock content %}
    